input{
	height: 2rem;
	width: 10%;
margin:1%;
border-radius: 10px;
}
label{
	font-size: 90%;
	color: white;
	text-align: left;
	font-weight: 100px;
}
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
button{
	height: 3rem;
	width: 5rem;
	box-shadow: 1px 1px 5px black;
	margin-bottom: 10px;
}
#drop{
	display: none;
	
	border-radius: 10px;

}
p{
	font-size: 1rem;
	font-weight: 100px;
}
#chemical{
	height: 2rem;
/*	width: 10%;*/
margin:1%;
border-radius: 10px;

}
select{
	font-size: 86%;
}
